	body{
		font-family:Verdana, Geneva, sans-serif;

	}
	
	#conteudo{
		margin-left:20px;	
	}
	
/*	Início Classe tabela	*/	
	
	table.tabela , table.tabela td, table.tabela th{
		border: 1px solid #CCCCCC;	
		border-collapse: collapse;
		padding:5px;
	}


	table.tabela th {
		background-color: #566895;
		color: #FFFFFF;
	}	


	/*	Tabela Zebrada	*/
	table.tabela tr:nth-child(2n+1) {
    	background-color: #EEEEEE;
	}
	
/*	FIM Classe tabela	*/	
	
	
	


*{margin: 0; padding: 0;}

body{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

#menu{list-style:none; border:1px solid #c0c0c0; float:left;  width:100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FF4394, #566895); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FF4394, #566895); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FF4394, #566895); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FF4394, #566895); /* Standard syntax */
  
}

#menu2{list-style:none; border:1px solid #c0c0c0; float:left;  width:100%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FF4394, #566895); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FF4394, #566895); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FF4394, #566895); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FF4394, #566895); /* Standard syntax */
  
}

#menu li{position:relative; float:left; border-right:1px solid #c0c0c0; }

#menu li a{color:#333333; text-decoration:none; padding:5px 10px; display:block;		background-color:#FFFFFF;}

#menu li a:hover{background:#333333; color:#FFFFFF; -moz-box-shadow:0 3px 10px 0 #CCCCCC; -webkit-box-shadow:0 3px 10px 0 #CCCCCC; text-shadow:0px 0px 5px #FFFFFF; }

#menu li   ul{position:absolute; top:24px; left:0; background-color:#FFFFFF; display:none; }

#menu li:hover ul, #menu li.over ul{display:block; z-index:9999;}

#menu li ul li{border:1px solid #c0c0c0; display:block; width:150px;}

	.menu_selecionado{
		font-weight:bold;

	}



	
	
	input{
		font-size:16px;	
	}
	
	select{
		font-size:16px;	
	}
	

	.invisivel{
		display:none;	
	}

	.visivel{
		display:block;	
	}
	
	fieldset{
		width:500px;	
	}
	
	.alerta_pequeno{
		color:red;
		font-size:10px;
	}
	
	
